<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>builtin_filters</h1>
        <!--
        <h1>{{data}}</h1>
        <h1>{{data|lower}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|title}}</h1>
        <h1>{{data|truncatechars:'9'}}</h1>
        <h1>{{data|truncatewords:'3'}}</h1>-->
        <!--
        <h1>{{date|date:'Y'}}</h1>
        <h1>{{date|date:'y'}}</h1>
        <h1>{{date|date:'l'}}</h1>
        <h1>{{date|date:'d'}}</h1>
        <h1>{{date|date:'s'}}</h1>
        <h1>{{date|date:'l s y'}}</h1>-->
        <h1>I have{{ch}}dog{{ch|pluralize}}</h1>
        <h1>These {{ch}} pen{{ch|pluralize}} {{ch|pluralize:'is,are'}} mine</h1>
        <h1>Today {{ch}} django batch{{ch|pluralize:'es'}} {{ch|pluralize:'is,are'}} starting</h1>
    </center>

</body>
</html>